.menu
    &__button
        padding: 6px 16px 6px 30px
        background: white url(../img/navbar/menu.png) no-repeat 8px 7px
        background-size: 16px
        border: 2px solid
        text-transform: uppercase
        color: #a1a1a1
        font-size: 18px
        +headline