body
    +base
img
    max-width: 100%    
.menu
    &__button
        padding: 6px 16px 6px 30px
        background: white url(../img/navbar/menu.png) no-repeat 8px 7px
        background-size: 16px
        border: 2px solid
        text-transform: uppercase
        color: #a1a1a1
        font-size: 18px
        +headline
.button  
    &-buy        
        padding: 10px
        background-color: #3cc395
        border-radius: 5px
        color: #ffffff
        +headline
        font-size: 20px
        font-weight: bold
        text-transform: uppercase
        letter-spacing: 1.5px
        cursor: pointer   
        &:hover
            color: #a1a1a1
            text-decoration: underline
            background-color: #ffffff         
    &-hero
        +headline
        text-transform: uppercase
        font-size: 27px
        font-weight: bold
        color: #ffffff
        background: none
        padding: 10px 25px
        border: 3px solid #ffffff
        border-radius: 10px  
        cursor: pointer         
        &:hover       
            background-color: #3cc395
            border-color: #3cc395